
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details - Online Library</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <ul>
        <li><a href="{% url 'user_dashboard_view' %}"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="{% url 'user_search_books_view' %}"><i class="fas fa-search"></i> Search Books</a></li>
        <li><a href="{% url 'user_view_books_view' %}"><i class="fas fa-book"></i> View Books</a></li>
        <li><a href="{% url 'user_borrowed_books_view' %}"><i class="fas fa-book-reader"></i> Borrowed Books</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
    </nav>
    <main>
        <div class="card">
            <h1>Book Details</h1>
            <div style="margin-bottom: 2rem;">
                <h2 id="book-title"></h2>
                <p><strong><i class="fas fa-id-badge"></i> ID:</strong> <span id="book-id"></span></p>
                <p><strong><i class="fas fa-user"></i> Author:</strong> <span id="book-author"></span></p>
                <p><strong><i class="fas fa-list"></i> Category:</strong> <span id="book-category"></span></p>
                <p><strong><i class="fas fa-file-alt"></i> Description:</strong> <span id="book-description"></span></p>
                <p><strong><i class="fas fa-check-circle"></i> Availability:</strong> <span id="book-availability"></span></p>
            </div>
            <form>
                <button type="submit"><i class="fas fa-book-reader" style="margin-right: 0.5rem;"></i> Borrow Book</button>
            </form>
        </div>
    </main>
    <footer>
        <p> Web Project FCAI</p>
    </footer>
    <script src="../javaScript/book_details.js"></script>

</body>
</html>